

<div class="row card" style="margin-top:10px;padding-left:10px;padding-right:10px;">

<form class="omb_loginForm" action="/loggedInUser" autocomplete="off" method="POST">
	<div class="input-group" style="margin-top:20px;">
		<span class="input-group-addon"><i class="fa fa-search"></i></span>
		<input type="text" class="form-control" id="track" name="track" autocomplete="off" required placeholder="Get Your Musical track">               
	</div>    
    <button class="btn btn-block loggedinhdbgCol" style="color:#000!important;" type="submit">Get Detail</button>
</form>

<div style="padding-bottom:10px;margin-top:10px;">
    
    {{!-- <a href="/fevlist?fevItems="+ id="fevItem" title="Your Saved Fav Items" class="fev" style="color:#000;cursor:pointer;font-size:10pt;">Favourate Items</a> --}}

    <form method="POST" action="/fevlist")>    
    <input type="hidden" id="hdnFI" name="hdnFI" value=""/>
    <button type="submit" title="Your Saved Fav Items" style="color:#000;cursor:pointer;font-size:10pt;">Favourate Items</button>
    </form>
</div>


</div>


<div class="container">
    {{#if test}}
    <div class="row" style="margin-bottom: 60px;">
       {{#each test}}
                
                    <div class="col-12 col-md-6 col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col col-sm-4">
                                        <a href='{{this.trackViewUrl}}' target="_blank">
                                        <img src='{{this.artworkUrl100}}' class="img-thumbnail" alt='{{this.artistName}}'>
                                        </a>
                                    </div>
                                    <div class="col col-sm-8">
                                        <p class="amtCurr text-left text-truncate" title='{{this.artistName}}'>{{this.artistName}}</p>
                                        <p class="amtCurr text-left har_shop_price">{{this.currency}}{{this.collectionPrice}}</p>
                                        <audio controls="controls">
                                        <source src='{{this.previewUrl}}' type="audio/mpeg">
                                        </audio>

                                    </div>
                                      
                                </div>
                                <div class="trackName" title='{{this.trackName}}'>{{this.trackName}}
                                </div>
                                
                                <div class="line"></div>
                                
                                    <div class="har_shop_desc">Available On</div>
                                    <div style="height:22px">
                                        <div style="float: left">
                                            <span class="har_shop_soc_c">
                                                <a href='{{this.previewUrl}}'><img src="/images/headphone.png" alt="Track" class="imgCls"></img></a>                                     
                                            </span> 
                                        </div>
                                        <div class="trackName fevRemove" style="margin-left:50px;">
                                           <a class="badge-remove  hide" onclick="RemoveItem();"  title='{{this.artistId}}'  id='favStar{{this.artistId}}' style="cursor: pointer;">
                                               <img src="/images/star.png" alt="Fev Item" class="imgCls"></img>
                                            </a>
                                        </div> 
                                    </div>
                                                                         
                                <div class="line"></div>
                                <div class="row">
                                        <div class="col col-sm-4">
                                            <a class=" badge badge-primary" href={{this.artistViewUrl}} target="_blank">View details</a>
                                        </div>
                                        <div class="add-favourites col col-sm-8" id='{{this.artistId}}' style="display:block">
                                                <a class="badge badge-success" title={{this.artistId}} fevItem='{{this.artistName}}#{{this.artistId}}' onclick="AddItem();">Add to favourites</a>
                                        </div>                                         
                                                                           
                                </div>
                                
                            </div>
                        </div>
                    </div> 
        {{/each}}
    </div>
     {{else}}
    <p><em>There are currently no data.</em></p>
    {{/if}}
</div>